<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <appSettings>
    <add key="applicationName" value="Testing Engine" />

    <add key="systemEmail" value="project.belle.opentext@gmail.com" />
    <add key="errorEmail" value="reagan.williams@opentext.com" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="systemEmailDisplayName" value="Testing Engine"/>
    <add key="EnableSsl" value="true" />
    <add key="Port" value="587" />
    <add key="UseDefaultCredentials" value="false" />

    <add key="LogFile" value="projectbelle.log"/>

  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Data Source='mssql0809.wc1\inst1';Initial Catalog=373268_trendworks;Integrated Security=FALSE;uid=373268_trendworks;password=P55xb2166333!;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>



  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
