<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationName" value="OpenText Analytics"/>
    <add key="systemEmail" value="project.belle.opentext@gmail.com"/>
    <add key="errorEmail" value="reagan.williams@opentext.com"/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="systemEmailDisplayName" value="OpenText Analytics"/>
    <add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="LogFile" value="bpmreports.log"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseD" connectionString="Data Source=192.168.0.12\sqlexpress;Initial Catalog=TestingEngine;Integrated Security=False;User Id=revei;Password=revei123!" providerName="System.Data.SqlClient" />
    <add name="DatabaseQ" connectionString="Data Source='mssql0809.wc1\inst1';Initial Catalog=373268_trendworks;Integrated Security=FALSE;uid=373268_trendworks;password=P55xb2166333!;" providerName="System.Data.SqlClient" />
    <add name="Database" connectionString="Data Source=72.32.213.124,4120;Initial Catalog=373268_trendworks;Integrated Security=FALSE;uid=373268_trendworks;password=P55xb2166333!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>

        <rule name="Cannonical Hostname">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^bpmreports\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://bpmreports.com/{R:1}" />
        </rule>

        <rule name="Default Document" stopProcessing="true">
          <match url="(.*?)/?Default\.aspx$" />
          <action type="Redirect" url="{R:1}/" />
        </rule>


        <rule name="Lower Case URLs" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="WebResource.axd" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>

        <rule name="Trailing Slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" pattern="WebResource.axd" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}/" />
        </rule>


      </rules>
    </rewrite>
  </system.webServer>
  
  
</configuration>