<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationName" value="Project Belle"/>
    <add key="systemEmail" value="project.belle.opentext@gmail.com"/>
    <add key="errorEmail" value="reagan.williams@opentext.com"/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="systemEmailDisplayName" value="Project Belle"/>
    <add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="LogFile" value="projectbelle.log"/>
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=g360pm2010;Initial Catalog=AEDB;Integrated Security=False;User Id=aedb;Pwd=aedb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>